

<html>
<head>
    <script type="text/javascript">window["_gaUserPrefs"] = {
        ioo: function () {
            return true;
        }
    }</script>

    <script src='https://www.google.com/recaptcha/api.js'></script>


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">


    <title>Leanware</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="p:domain_verify" content="b6611d28271db4c5fa3130e011a816c0">
    {#		<link rel="stylesheet" href="assets/css/new.css">#}
    <link rel="stylesheet" href={{ url_for('static', filename='css/new.css') }}>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
<div class="contactHeader" ;="" *="" color:="" white;=""
"="">
<div class="headerLogo" style="
    /* color: white; */
">
    <a href="index.html" class="logo">Leanware</a>
    <h1>Software solutions for startups and growing businesses</h1>
</div>
<!-- menu -->
<div class="contactMenu">
    <div>
        <a href="{{  url_for('index') }}" class="fa fa-home"></a>
        <a href="index.html"> HOME </a>
    </div>


</div>
</div>
<!-- main home page -->
<div class="serviceSection">
    <!-- Services -->
    <h1>Services</h1>
    <div class="serviceRow">
        <div class="serviceOption col-md-4">
            <i class="fa fa-database"></i>
            <h2>PostgresQL, MySQL<br></h2>
        </div>
        <div class="serviceOption col-md-4">
            <i class="fab fa-python"></i>


            <h2>Django/Flask
                <br>
                Backend
                <br></h2>
        </div>
        <div class="serviceOption col-md-4">
            <i class="fab fa-js-square"></i>


            <h2>React/Redux<br>Frontend</h2>
        </div>
        <div class="serviceOption col-md-4">
            <i class="fa fa-hashtag"></i>
            <h2>RESTful APIs<br></h2>
        </div>
        <div class="serviceOption col-md-4">
            <i class="fa fa-line-chart"></i>
            <h2>Data Analysis<br></h2>
        </div>
        <div class="serviceOption col-md-4">
            <i class="fa fa-pencil"></i>
            <h2>Algorithmic Trading<br></h2>
        </div>
    </div>
</div>
<!-- Resume -->
<div class="resume">
    <h1 class="white">Stack</h1>

    <div class="list">
        <div class="column-3">
            <h3 class="topic">Backend</h3>
            <h3 class="indent">Flask</h3>
            <h3 class="indent">Django</h3>
            <h3 class="indent">Python 2 and 3</h3>
            <h3 class="topic">Front</h3>
            <h3 class="indent">HTML5/CSS3</h3>
            <h3 class="indent">React + Redux</h3>
            <h3 class="indent">BootStrap, JSON</h3>
            <h3 class="indent">Node</h3>
            <h3 class="indent">JQuery</h3>


        </div>
        <div class="column-3">
            <h3 class="topic">Data Analysis</h3>
            <h3 class="indent">numpy</h3>
            <h3 class="indent">pandas</h3>
            <h3 class="indent">matplotlib</h3>
            <h3 class="indent">R</h3>
            <h3 class="indent">ggplot2</h3>
            <h3 class="indent">Tableau</h3>
            <h3 class="indent">STATA (for economic data)</h3>


        </div>
        <div class="column-3">
            <h3 class="topic">DevOps</h3>
            <h3 class="indent">git</h3>
            <h3 class="indent">jenkins</h3>
            <h3 class="indent">docker</h3>
            <h3 class="indent">AWS</h3>
            <h3 class="indent">travis-ci</h3>


            <h3 class="topic">And much more</h3>
        </div>
    </div>
</div>
<div class="serviceSection">
    <!-- Skills -->
    <h1 class="white">What is LEAN?</h1>
    <div class="serviceRow">
        <div class="serviceOption col-md-4">
            <i class="fa fa-bolt"></i>
            <h2 class="white">No<br>Bloatware</h2>
        </div>
        <div class="serviceOption col-md-4">
            <i class="fa fa-fighter-jet"></i>
            <h2 class="white">Fast delivery<br></h2>
        </div>
        <div class="serviceOption col-md-4">
            <i class="fa fa-flask"></i>
            <h2 class="white">Tested<br>Software</h2>
        </div>
        <div class="serviceOption col-md-4">
            <i class="fa 	fa-comments-o"></i>
            <h2 class="white">Stellar support<br></h2>
        </div>
        <div class="serviceOption col-md-4">
            <i class="fa fa-recycle"></i>
            <h2 class="white">Continuous <br>Integration</h2>
        </div>
    </div>
</div>
<div class="serviceSection">
    <!-- Skills -->
    <h1 class="white">Portfolio</h1>
    <div class="serviceRow">
        <div class="serviceOption col-md-4">
            <a href="https://orlandodiaz.co/">
                <img src="https://orrblog-media.s3.amazonaws.com/media/markdownx/4942e7c0-59f8-4ab8-8b27-d246bf69d3b6.png"
                     style="width:250px">
            </a>
            <h2 class="white">Django Blogging Framework<br></h2>
        </div>
        <div class="serviceOption col-md-4">
            <a href="http://flaskauth.orlandodiaz.co/">
                <img src="https://orrblog-media.s3.amazonaws.com/media/markdownx/55ca9bb6-edd9-4b7c-bcfc-8cccafa75b51.png"
                     style="width:250px">
            </a>
            <h2 class="white">Flask authentication system<br></h2>
        </div>
        <div class="serviceOption col-md-4">
            <a href="http://instalook.orlandodiaz.co/">
                <img src="https://orrblog-media.s3.amazonaws.com/media/markdownx/df16a917-5cd0-4067-9c81-917de967e18a.png"
                     style="width:250px">
            </a>
            <h2 class="white">React Instagram <br>Profile search Frontend</h2>
        </div>

        <div class="serviceOption col-md-4">
            <a href="https://orlandodiaz.co/work">
                <i class="fa fa-arrow-right"></i>

                <h2 class="white">See more<br>Projects</h2>
            </a>
        </div>
    </div>
</div>
<!-- Footer -->
<div class="footer">
    <div class="footerSection">
        <h1>LeanWare</h1>
        <div class="socialBar white">
            <a target="_blank" href="https://twitter.com/leanwaredotco" class="icon fa  fa-twitter-square col-sm-2"></a>
            <a target="_blank" href="https://github.com/orlandodiaz" class="icon fa fa-github-square col-sm-2"></a>
            <a target="_blank" href="https://linkedin.com/in/orlandoreategui"
               class="icon fa fa-linkedin-square col-sm-2"></a>
        </div>
    </div>
    <div class="footerSection">
        <p> About </p>
        <p> Leanware was designed by Orlando Reategui </p>
    </div>
    <div class="footerSection">
        <h2>Contact Us</h2>

        {% if is_validated %}
                    <div class="left white">
            <a target="_blank" href="mailto:orlandodiaz@utexas.edu" class="left icon fa fa-envelope white"></a>
            <a target="_blank" href="mailto:orlandodiaz@utexas.edu">
                <p>Email Us!</p>
            </a>
        </div>
        <div class="left white">
            <a href="contact.html">
            </a>
        </div>
        {%  else %}
            <form action="?" method="POST">
                <div class="g-recaptcha" data-sitekey="6Le44ogUAAAAAMXYi6IyYlel3_IXruVSfc3PBAVk"></div>
                <input type="submit" value="Submit">

            </form>

        {%  endif %}


    </div>
</div>

</body>
</html>